{% extends 'error/baseErros.html' %}
{% load static %}
{% block title %}Página não encontrada{% endblock %}
{% block error %}
<link rel="stylesheet" href="{% static 'css/error/500.css' %}">
<div class="status text text_spawn">ERRO 500</div>
<div class="message text">Caramba!!! Algo não está certo! O servidor FICOU LOUCO! vamos tentar <a href="/">voltar</a></div>
<div class="container">
  <img class="servers" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Server-multiple.svg"/>
  <img class="explode" src="https://upload.wikimedia.org/wikipedia/commons/5/52/Explosion-153710_icon.svg"/>
  <img class="explode" src="https://upload.wikimedia.org/wikipedia/commons/5/52/Explosion-153710_icon.svg"/>
  <img class="explode" src="https://upload.wikimedia.org/wikipedia/commons/5/52/Explosion-153710_icon.svg"/>
  <img class="explode" src="https://upload.wikimedia.org/wikipedia/commons/5/52/Explosion-153710_icon.svg"/>
  <img class="explode" src="https://upload.wikimedia.org/wikipedia/commons/5/52/Explosion-153710_icon.svg"/>
  <img class="explode" src="https://upload.wikimedia.org/wikipedia/commons/5/52/Explosion-153710_icon.svg"/>
</div>
{% endblock %}