.dimiss-input{
    opacity: 0;
    transform: translateX(2000px);
    position: absolute;
    background-color: #D3D3D3;
    transition: all 1s ease-out;
}

.dimiss-cursor-input{
    cursor: context-menu;
}

.recurve-input{
    opacity: 1;
    transform: translateX(0);
    position: relative;
    transition: all 0.6s ease-out;
}

.background-color{
    color: #dc4405;
}

.hide-button{
    display: none;
}
@media (max-width: 320px) {
    html {
      width: fit-content;
    }
  }