{% load static %}
{% block footer %}
<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 my-3 my-lg-0 text-lg-start">Copyright &copy; Atacale 2022</div>
            <div class="col-lg-4 my-3 ">
                <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/nossoatacale/" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.youtube.com/channel/UCgUYAIRYyJWMyWaVPKHbYJg" aria-label="youtube"><i class="fab fa-brands fa-youtube"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/nossoatacale" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/company/nosso-atacale/?viewAsMember=true" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none" href="aviso-de-privacidade" target="_blank" rel="noopener noreferrer">Política de Privacidade</a>
                 --- 
                <a class="link-dark text-decoration-none" href="creditos" target="_blank" rel="noopener noreferrer">Créditos</a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}