{% load static %}
{% block footer %}
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbarShrink navbar-shrink" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="{% static 'assets/img/navbar-logo.png' %}" alt="..." /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    {% if request.path == '/trabalhe' %}
                        <li class="nav-item"><a class="nav-link" href="/">Veja nossas promoções</a></li>
                    {% elif  request.path == '/' %} 
                        <li class="nav-item"><a class="nav-link" href="/trabalhe">Trabalhe conosco</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}