<html >
    <head>
        
    </head>
    <body>
        <strong>Vaga desejada:</strong> {{ cargo }}

        <h2>IDENTIFICAÇÃO</h2>

            <strong>Data de nascimento:</strong> {{nome_completo}} | <strong>Idade:</strong> {{idade}} | <strong>Altura:</strong> {{altura}} | <strong>Peso:</strong> {{peso}} | <strong>Sexo:</strong> {{sexo}}<br><br>
            <strong>Naturalidade:</strong> {{naturalidade}} | <strong>UF:</strong> {{uf}} | <strong>Endereço:</strong> {{endereco}}<br><br>
            <strong>Bairro:</strong> {{bairro}} | <strong>CEP:</strong> {{cep}} | <strong>Celular:</strong> {{celular }}<br><br>
            <strong>Portador de necessidades:</strong> {{necessidade_especial}} | <strong>Nome da mãe:</strong> {{nome_mae}} | <strong>Nome do pai:</strong> {{nome_pai}}<br><br>
            <strong>Descrição da necessidade especial:</strong><br>{{necessidade_especial_descricao}}<br>

        <h2>DOCUMENTAÇÃO</h2><br>
        
            <strong>Habilitação:</strong> {{habilitacao}} | <strong>Reservista:</strong> {{reservista}}<br><br>
            <strong>CPF:</strong> {{cpf}} | <strong>RG:</strong> {{rg}}<br><br>
            <strong>Escolaridade:</strong> {{escolaridade}} | <strong>conclusão:</strong> {{data_conclusao_escolaridade}} | <strong>instituição:</strong> {{instituicao}}<br><br>
            <strong>Estado civil:</strong> {{estado_civil}} - <strong>Filhos:</strong> {{filhos}} - {{filhos_quantidade}} | <strong>moram com você:</strong> {{filhos_moram}} | <strong>Maior de 18:</strong> {{filhos_maior_idade}}<br>
        
        <h2>ECONÔMICAS</h2><br>

        <strong>Rendas alem da sua:</strong> {{rendas}} | <strong>possui conta em banco:</strong> {{conta_em_banco}} - {{bancos}}<br><br>
        <strong>Possui imovel:</strong> {{imovel}} | <strong>Mora em residencia:</strong> {{residencia}} | <strong>Possui transporte:</strong> {{transporte}}<br><br> 
        <strong>Parentes na empresa:</strong> {{parentes}} | <strong>Possui cursos:</strong> {{cursos}} - {{cursos_descricao}}<br>

        <h2>FORMAÇÃO ACADÊMICA</h2><br>

        <strong>ENTIDADE/ESCOLA:</strong> {{instituicao}}<br><br>
        <strong>INÍCIO EM:</strong> | TÉRMINO EM: {{data_conclusao_escolaridade}}<br><br>
        <strong>GRAU DE INSTRUÇÃO:</strong> {{escolaridade}}<br><br>
        <strong>ÁREA DE CONHECIMENTO:</strong><br><br>
        <strong>SUBÁREA DE CONHECIMENTO:</strong><br>

        <h2>EXPERIÊNCIA PROFISSIONAL</h2><br>

        <strong>Primeiro emprego:</strong> {{primeiro_emprego}}<br><br>
        <strong>Último emprego</Strong><br><br>
        <strong>{{cargo_ultima_empresa}}</strong><br><br>
        <strong>Empresa:</strong> {{nome_ultima_empresa}}
        <strong>Admissão:</strong> {{data_admisao_ultima_empresa}} | <strong>Desligamento:</strong> {{data_admisao_ultima_empresa}}
        <strong>Atividades desenvolvidas:</strong><br>
        {{atividade_ultima_empresa}}<br>

        <h2>INFORMAÇÕES ADICIONAIS</h2>

        <h2>ULTIMO EMPREGO</h2><br>
        <strong>Empresa:</strong> {{nome_ultima_empresa}} | <strong>Responsável:</strong> {{responsavel_ultima_empresa}}<br><br>
        <strong>Endereço:</strong> {{endereco_ultima_empresa}} | <strong>Tel:</strong> {{telefone_ultima_empresa}}<br><br>
        <strong>Cargo:</strong> {{cargo_ultima_empresa}} | <strong>Ultimo salario:</strong> {{ultimo_salario_ultima_empresa}} | <strong>CTPS assinada:</strong> {{ctps_assinada_ultima_empresa}}<br><br>
        <strong>Data de admissão:</strong> {{data_admisao_ultima_empresa}} | <strong>Data de demissão:</strong> {{data_demissao_ultima_empresa}}<br><br>
        <strong>Principais atividades na empresa:</strong><br>
        {{atividade_ultima_empresa}}<br><br>
        <strong>Motivo de saida da empresa</strong> {{motivo_saida_ultima_empresa}}<br>
        
        <h2>PENÚLTIMO EMPREGO</h2><br>

        <strong>Empresa:</strong> {{nome_penultima_empresa}} | <strong>Responsável:</strong> {{responsavel_penultima_empresa}}<br><br>
        <strong>Endereço:</strong> {{endereco_penultima_empresa}} | <strong>Tel:</strong> {{telefone_penultima_empresa}}<br><br>
        <strong>Cargo:</strong> {{cargo_penultima_empresa}} | <strong>Ultimo salario:</strong> {{ultimo_salario_penultima_empresa}} | <strong>CTPS assinada:</strong> {{ctps_assinada_penultima_empresa}}<br><br>
        <strong>Data de admissão:</strong> {{data_admisao_penultima_empresa}} | <strong>Data de demissão:</strong> {{data_admisao_penultima_empresa}}<br><br>
        <strong>Principais atividades na empresa:</strong><br> 
        {{atividade_penultima_empresa}}<br>
        <strong>Motivo da saída:</strong> {{motivo_saida_penultima_empresa}} <br><br>

        <strong>EMPRESA DE DESTAQUE:</strong> {{empresa_destaque}}<br><br><br>
                                         
        
        <i>Relatório de inscrição desenvolvido por Bruno Maia da Costa</i><br>
    </body>
</html>