{% extends 'reusables/base.html' %}
{% load static %}
{% block title %}Atacale{% endblock %}
{% block content %}
    <div class="container">
      <div class="col-12 d-flex flex-wrap justify-content-center mt-5 mb-5">
        <div class="col-12 col-md-6 d-flex align-items-center text-sm-start text-center mt-5 pe-md-3">
            <div>
              <h1 class="section-heading text-uppercase title_sucesso"> NOSSO ATACALE CHEGOU!</h1> 
              <p class="text-muted " style="font-size: 1.1rem;">Um incrível novo espaço para elevar sua experiência de compras a um novo nível!</p>
              <p class="text-muted" style="font-size: 1.1rem;">Convidamos toda Rio Branco para vir nos conhecer e aproveitar algumas de nossas promoções, vem conferir elas logo abaixo!</p>
            </div>
        </div>
        <div class='col-12 col-md-6'>
          <div id="carouselExampleIndicators" class="carousel slide mt-md-5" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="https://i.ibb.co/23YsqK0/f0f6148f-d965-4728-9c5b-6fed9187fec8.jpg" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://i.ibb.co/q04CWZc/2d47538b-9e29-4b21-aaa8-ebb5ff901c74.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://i.ibb.co/YXksgRQ/1e321787-c407-4742-8496-6d6abebf34f0.jpg" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://i.ibb.co/rxP5Gvt/359a7c02-d08b-4458-90e8-466c492395b6.jpg" alt="Third slide">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      </div>
    </div>
    <h1 class="section-heading text-uppercase text-center title_sucesso"> Se liga nessas promoções!</h1> 
    <div class="d-flex flex-wrap justify-content-center col-12">
        <div id="carouselpdf" class="carousel slide col-12 col-md-6" data-bs-ride="carousel" data-bs-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="https://i.ibb.co/xzwBjf7/Whats-App-Image-2023-01-06-at-12-13-15.jpg">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://i.ibb.co/pWTkH9D/Whats-App-Image-2023-01-02-at-07-15-57.jpg">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://i.ibb.co/0ssFw9n/Whats-App-Image-2023-01-02-at-07-15-58.jpg">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselpdf" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselpdf" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>
  </div>

{% endblock %}